doctype 5
html
  head
    title= title
    - if(env == 'development')
      link(rel='stylesheet', href='/stylesheets/main.min.css')
    - else
      link(rel='stylesheet', href='/stylesheets/bootstrap.css')
      link(rel='stylesheet', href='/stylesheets/style.css')

    block scripts
      - if(env == 'development')
        script(src='/components/base.min.js')
      - else
        script(type='text/javascript', src='/components/jquery/jquery.min.js')
        script(type='text/javascript', src='/components/bootstrap/bootstrap.min.js')
        script(src='/components/modernizr/modernizr-latest.js')
        script(src='/components/knockout.js/knockout.js')

  body
    nav#navbar.navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li.first.active: a(href='/') Home
          li.last: a(href='/resorts/') Resorts
    div.container

    block content

    
    
    footer  
      p Tracks