doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascript', src='/components/jquery/jquery.js')
		script(type='text/javascript', src='/javascripts/bootstrap.js')

	body
		nav#navbar.navbar.navbar-fixed-top
			.navbar-inner
				.container
					ul
						li.first: a(href='/regions/') Regions
						li.last: a(href='/resorts/') Resorts
		div.container

		block content

		footer	
			p Tracks