extends layout

block append scripts
  script(src='/components/resorts.min.js')

block content
  ul.breadcrumb
    li  
      a(href="/") Home
      span.divider / 
    li.active Resorts 

  .alert
    button.close(type="button", data-dismiss="alert") &times;
    strong Alert! - 
      | This is a warning, don't do it again
  
  .page-header
    h1 
      | Resorts
      small Manage which resorts are able to be viewed

  .row 
    .offset6.span4
      .btn-group
        a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", href="#") Action
          span.caret
        ul.dropdown-menu
          li
            a(id="add-resort", href="#add-modal", data-toggle="modal", data-target="#add-modal") Add Resort
  .row
    .span12
      table.table.table-stiped
        thead
          tr
            th Resort
            th Country
            th Region
            th Maps
        tbody(data-bind='foreach: resorts')
          tr
            td
              a(data-bind='text: name, attr: { href: detailUrl}')
            td
              span(data-bind='text: country')
            td
              span(data-bind='text: region')
            td
              a(data-bind='attr: { href: mapUrl }') Map

  div#add-modal.modal.hide.fade(role="dialog")
    .modal-header
      button.close(type="button", data-dismiss="modal") x
      h3#add-header Add a Resort

    .modal-body
      form(data-bind='with: addResort')
        fieldset
          legend Ski Resort
          label Resort Name
          input#resort-name(type="text", placeholder="Enter resort name", data-bind='value: name')

          label Country
          input#resort-country(type="text", data-bind="value: country, attr: {'data-source': $parent.countries}", data-provide='typeahead', data-items='4')

          label Region
          input#resort-region(type="text", placeholder="Which part of the country", data-bind='value: region')

    .modal-footer
      button.btn(data-dismiss="modal") Close
      button.btn.btn-primary(data-bind='click: add', data-dismiss='modal') Add Resort