extends layout

block append scripts
  script(type='text/javascript', src='/javascripts/resorts.js')

block content
  ul.breadcrumb
    li  
      a(href="/") Home
      span.divider / 
    li.active Resorts 

  .alert
    button.close(type="button", data-dismiss="alert") &times;
    strong Alert! - 
      | This is a warning, don't do it again
  
  .page-header
    h1 
      | Resorts
      small Manage which resorts are able to be viewed

  .row 
    .offset6.span4
      .btn-group
        a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown", href="#") Action
          span.caret
        ul.dropdown-menu
          li
            a(id="add-resort", href="#add-modal", data-toggle="modal", data-target="#add-modal") Add Resort

  div#add-modal.modal.hide.fade(role="dialog")
    .modal-header
      button.close(type="button", data-dismiss="modal") x
      h3#add-header Add a Resort

    .modal-body
      form
        fieldset
          legend Ski Resort
          label Resort Name
          input#resort-name(type="text", placeholder="Enter resort name")

          label Country
          input#resort-country(type="text")

          label Region
          input#resort-region(type="text", placeholder="Which part of the country")

    .modal-footer
      button.btn(data-dismiss="modal") Close
      button.btn.btn-primary Add Resort