extends layout

block content

  h1 Trail Placement
  p.lead Mark on a resort map where each trail video should be located

  h2 Cypress Mt - Black Mountain

  #trail-map

  #track-container
    h3 Tracks
    #tracks

  // combined page scripts
  script(src='/components/trail-map.js')
  //script(src='/components/kinetic/kinetic.min.js')
  //script(src='/javascripts/trail-map.js')